<br/>
<div class="box-question">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<br/>
<div class="box-answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>
<br/>
<a class="btn btn-primary" href="/ask" role="button">Ask again</a>
